body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00bbff;
  border-radius: 8px;
  max-width: 480px;
  margin: 0 auto;
}

.input {
  padding: 10px;
  margin-bottom: 20px;
  width: 200px;
  border: 1px solid black;
  border-radius: 4px;
}

button {
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #298f22;
  color: white;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: #60b15a;
}
